<h1>Editing dance event</h1>

<%= render "form", dance_event: @dance_event %>

<br>

<div>
  <%= link_to "Show this dance event", @dance_event %> |
  <%= link_to "Back to dance events", dance_events_path %>
</div>
